{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link link-secondary" href="?page=1">&laquo;</a></li>
        <li class="page-item"><a class="page-link link-secondary" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link text-bg-secondary disabled" aria-current="page" href="">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link link-secondary" href="?page={{ page_obj.next_page_number }}">Далее</a></li>
        <li class="page-item"><a class="page-link link-secondary" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}