{% extends 'base.html' %}
{% block title %}Главная{% endblock title %}
{% block content %}
<div class="col-md-9 mx-auto">
    <p>Проект писался с целью помочь лучше подготовиться к собеседованию по направлению junior backend developer(python, django).</p>
    <p>Так же он подойдет, чтобы быстро освежить информацию в памяти или выявить пробелы в знаниях.</p>
    <p>Вопросы разбиты по нескольким категориям: Python, Django, Sql ...</p>
    <p>В каждом ответе к вопросу содержится сам ответ, пример кода и ссылка на документацию для более детального ознакомления.</p>
    <div class="text-center py-3">
        <p> Вопросов в базе данных проекта:</p>
        <div class="fs-3">{{ amount }}</div>
    </div>
</div>
{% endblock content %}
